{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% bootstrap_css %}

{% block content %}
<div class="container mx-auto p-4">
    <h1>Cadastrar Animal</h1>
    
    {% if sucesso %}
    <div class="alert alert-success" role="alert">
        Animal cadastrado com sucesso!
    </div>
    {% endif %}
    
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% bootstrap_form form %}
        {% bootstrap_form form_imagem %}

        <div class="d-grid gap-2 d-md-block mt-4" role="group">
            <button type="submit" class="btn btn-primary rounded">Cadastrar</button>
            <button type="reset" class="btn btn-secondary rounded">Limpar</button>
        </div>
    </form>
</div>
{% endblock %}
