{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}



{% block content %}

<div class="container my-4">
    <h1 class="text-center mb-4">Lista de Animais Cadastrados</h1>

    <div class="row g-4">
        {% for animal in animais %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                {% if animal.imagem %}
                <img src="{{ animal.imagem.url }}" class="card-img-top" alt="Imagem de {{ animal.nome }}" style="height: 200px; object-fit: cover;">
                {% else %}
                <img src="{% static 'img/imagem_default.jpg' %}" class="card-img-top" alt="Imagem de {{ animal.nome }}" style="height: 150px; object-fit: cover;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title display-6">{{ animal.nome|capfirst }}</h5>
                    <p class="card-text">{{ animal.idade }} anos | {{ animal.raca|capfirst }} | {{ animal.sexo }}</p>
                    {% if animal.disponivel_para_adocao%}
                    <p class="text-success fw-bold">Disponível para adoção</p>
                    {% else %}
                    <p class="text-danger fw-bold">Não disponível para adoção</p>
                    {% endif %}
                   
                    <a href="{% url 'detalhe_animal' animal.id %}" class="btn btn-outline-primary w-100">Ver mais detalhes</a>
                </div>
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

